/* Configurações gerais da página */
* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url("/images/mapa.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: black;
    width: 450px;
    border-radius: 25px;
    padding: 20px;
}

.input-texto {
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    background-color: rgb(58, 54, 54);
    border-radius: 15px;
    color: rgb(224, 218, 218);
    font-size: 14px;
    padding: 10px;
}

.idiomas {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(58, 54, 54);
    border-radius: 20px;
    padding: 10px;
    color: rgb(224, 218, 218);
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background-color: rgb(58, 54, 54);
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
}

.controlar {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.traducao {
    background-color: rgb(58, 54, 54);
    border-radius: 15px;
    padding: 10px;
}

.titulo {
    color: rgb(224, 218, 218);
    font-size: 14px;
    margin-bottom: 10px;
}

.paragrafo {
    color: white;
    font-size: 18px;
}

